---
layout: default
title: Ash (Afshin) Rahimi
picture: afshin
news:

  - 
    >
     <b> Class-imbalance </b> and <b> fairness </b> are often studied separately, our new paper, "Fairness-aware Class Imbalanced Learning" (EMNLP2021) tries to bridge the gap. <a href="https://docs.google.com/presentation/d/1hxSI99oOxUkZk1jSh-pHIqSvvYHNAYA3HMQGUWG3ws4/edit?usp=sharing"> Slides</a> and <a hreft="https://github.com/shivashankarrs/classimb_fairness
       ">Code</a>.

  - 
    >
      Two papers accepted to COLING2020, one on aligning Wikipedia and UMLS, and another on Indonesian pretrained models and benchmarks (see my GScholar).

  - 
    >
      Paper with Gaurav Arora in ALTA2019 on catastrophic forgetting in NLP applications.
  - 
    >
      I joined The University of Queensland as a lecturer (Assisstant Professor). If you're interested in working with me on NLP/Social Media/Health, please email me.

  - 
    >
      There are more than <b>6000</b> languages without any annotation, our <a href=https://arxiv.org/abs/1902.00193> new ACL-19 paper </a>  on transfer learning (few shot and zero shot NER) for those languages+ <a href=https://docs.google.com/presentation/d/13y31FNC-LTwENdOiWUajVeusuE-sFgcmz3hO8qHdh90/edit?usp=sharing> slides </a>.

  - 
    >
      Geotagged data is scarce, our <a href=https://arxiv.org/abs/1804.08049> new ACL-18 paper </a>  on semi-supervised user geolocation using graph convolutional networks + <a href=https://drive.google.com/file/d/1lW_hryCtGp0xkHg37MsAykVW7zuuKeMx/view?usp=sharing> slides </a>.



  -
    >
      I defended my PhD, and submitted my <a href=https://drive.google.com/open?id=1PeLZ_dFuLnWSlWaD1e1W4phe63OTfOrr>thesis</a>. The slides are available  <a href=https://goo.gl/u2e8iv>here</a>.


  - 
    >
      Our <a href=https://drive.google.com/open?id=0B9ZfPKPvp-JickpYa0drZWQxcHc>EMNLP2017 paper</a> on using Mixture Density Networks for geolocation and RBF networks for lexical dialectology is published. The <a href=https://github.com/afshinrahimi/geomdn>code</a> and <a href=https://t.co/oHvYA5lJMo>slides</a> are available.


  - 
    >
      Our <a href="https://arxiv.org/pdf/1704.04008.pdf"> ACL 2017 paper </a> on geolocation (predict location given text) and lexical dialectology (predict text given location) where we talk about utilising both network and text information for geolocation and also use the geolocation model to retrieve dialect words within U.S. is available. The code and the evaluation dataset can be found <a href="https://github.com/afshinrahimi/acl2017">here</a>. <font color="red"><b>It was selected as one of the outstanding papers!</b></font>
      
  - 
    >
      The <a href="https://www.youtube.com/watch?v=QiV_ow7k2J4"> Youtube Demo</a> and <a href="http://hum.csse.unimelb.edu.au:5000/"> Web UI</a> of our <a href="http://github.com/afshinrahimi/pigeo"> geolocation tool </a> is ready to use. The <a href="http://www.aclweb.org/anthology/P16-4022"> corresponding paper </a> is published at ACL 2016, demonstration papers. 
  -
    >
      <a href="http://www.aclweb.org/anthology/P15-2104">Our paper</a> on geolocation of social media users is accepted at
      <a href="http://acl2015.org">ACL 2015</a>. We use social relationships and also tweet content of
      Twitter users to find where they live!

  - 
    >
      <a href="http://www.aclweb.org/anthology/N15-1153">Our paper</a> on geolocation of social media users is accepted at
      <a href="http://naacl.org/naacl-hlt-2015/">NAACL 2015</a>. We use social relationships and also tweet content of
      Twitter users to find where they live!
---
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74733701-1', 'auto');
  ga('send', 'pageview');

</script>
<title> Ash (Afshin) Rahimi </title>
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Ash (Afshin) Rahimi</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        Lecturer<br/>
        <a href="https://www.itee.uq.edu.au/research/data-science">Data Science Group</a><br/>
        <a href="https://www.itee.uq.edu.au/">School of Information Technology and Electrical Engineering (Level 6, Room 633)</a><br/>
        <a href="http://uq.edu.au">The University of Queensland</a><br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:a.rahimi@uq.edu.au"><span class="glyphicon glyphicon-envelope"></span></a> Email<br/>
      <a href="https://scholar.google.com/citations?user=WhPw2I0AAAAJ">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/>
      <a href="http://github.com/afshinrahimi">
        <img src="img/ico/github_icon.png" alt=""/>
      </a> Github<br/>
      <a href="https://au.linkedin.com/in/afshin-rahimi-879203a2">
        <img src="img/ico/linkedin.ico" alt=""/>
      </a> Linkedin
    </div>
  </div>
</div>

<p>
My research interests fall within the fields of Natural Language Processing, Social Network Analysis and Machine Learning.
I am specifically interested in exploiting both structured and unstructured data to help machines understand conversational language
 in Emergency Situations and Health Informatics.
</p>

<h4>News</h4>
<ul>
{% for item in page.news %}
  <li>{{ item }}</li>
{% endfor %}
</ul>

<h4>Selected Papers</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}
