---
layout: default
title: Afshin Rahimi
picture: afshin
news:

  - 
    >
      I defended my Phd, the slides are available  <a href=https://goo.gl/u2e8iv>here</a>.

  - 
    >
      Our <a href=https://drive.google.com/open?id=0B9ZfPKPvp-JickpYa0drZWQxcHc>EMNLP2017 paper</a> on using Mixture Density Networks for geolocation and RBF networks for lexical dialectology is published. The <a href=https://github.com/afshinrahimi/geomdn>code</a> and <a href=https://t.co/oHvYA5lJMo>slides</a> are available.


  - 
    >
      Our <a href="https://arxiv.org/pdf/1704.04008.pdf"> ACL 2017 paper </a> on geolocation (predict location given text) and lexical dialectology (predict text given location) where we talk about utilising both network and text information for geolocation and also use the geolocation model to retrieve dialect words within U.S. is available. The code and the evaluation dataset can be found <a href="https://github.com/afshinrahimi/acl2017">here</a>. <font color="red"><b>It was selected as one of the outstanding papers!</b></font>
      
  - 
    >
      The <a href="https://www.youtube.com/watch?v=QiV_ow7k2J4"> Youtube Demo</a> and <a href="http://hum.csse.unimelb.edu.au:5000/"> Web UI</a> of our <a href="http://github.com/afshinrahimi/pigeo"> geolocation tool </a> is ready to use. The <a href="http://www.aclweb.org/anthology/P16-4022"> corresponding paper </a> is published at ACL 2016, demonstration papers. 
  -
    >
      <a href="http://www.aclweb.org/anthology/P15-2104">Our paper</a> on geolocation of social media users is accepted at
      <a href="http://acl2015.org">ACL 2015</a>. We use social relationships and also tweet content of
      Twitter users to find where they live!

  - 
    >
      <a href="http://www.aclweb.org/anthology/N15-1153">Our paper</a> on geolocation of social media users is accepted at
      <a href="http://naacl.org/naacl-hlt-2015/">NAACL 2015</a>. We use social relationships and also tweet content of
      Twitter users to find where they live!
---
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74733701-1', 'auto');
  ga('send', 'pageview');

</script>
<title> Afshin Rahimi </title>
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Afshin Rahimi</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        PhD Candidate (<b>expected Dec. 2017</b>)<br/>
        <a href="http://hum.csse.unimelb.edu.au/nlp-group/">Language Technology Group</a><br/>
        <a href="http://cis.unimelb.edu.au">Computing and Information Systems Department</a><br/>
        <a href="http://unimelb.edu.au">The University of Melbourne</a><br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:arahimi@student.unimelb.edu.au"><span class="glyphicon glyphicon-envelope"></span></a> Email<br/>
      <a href="https://scholar.google.com/citations?user=WhPw2I0AAAAJ">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/>
      <a href="http://github.com/afshinrahimi">
        <img src="img/ico/github_icon.png" alt=""/>
      </a> Github<br/>
      <a href="https://au.linkedin.com/in/afshin-rahimi-879203a2">
        <img src="img/ico/linkedin.ico" alt=""/>
      </a> Linkedin
    </div>
  </div>
</div>

<p>
My research interests fall within the fields of Natural Language Processing, Social Network Analysis and Machine Learning.
I am specifically interested in exploiting both structured and unstructured data to get insights about people and their interests. 
My PhD research was focused on combining text and network information in a semi-supervised setting to learn user demographics and 
specifically Twitter user geolocation which resulted in state-of-the-art geolocation performance published in ACL, NAACL and EMNLP.
</p>

<h4>News</h4>
<ul>
{% for item in page.news %}
  <li>{{ item }}</li>
{% endfor %}
</ul>

<h4>Selected Papers</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}
